<div class="cmt">
    <div class="toast" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary"> <%= comment.user.lastName %></strong>
            <small class="text-muted"> <%= comment.updated_at %></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            <%= comment.content %>
        </div>
    </div>
</div>