
.dieuhuong {
    background: #2196f31f;
    padding-top: 40px;
    padding-bottom: 40px;
}

.dieuhuong .trai.col-lg-6 {
    padding-left: 0;
}

.dieuhuong span.trai1 a {
    color: #666666d9;
}

.dieuhuong span.trai2 {
    color: #a9acaca1;
}

.dieuhuong span.trai3 {
    color: #666666d9;
    font-weight: 500;
}

.dieuhuong .trai a:hover {
    text-decoration: none;
    color: #0086cd;
}

.mainks .shop-sidebar span.tieude {
    font-size: 18px;
    font-weight: 500;
}

.mainks .shop-sidebar .is-divider.small {
    border: 2px solid #89969780;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mainks .shop-sidebar .menusp a {
    color: #000000bf;
    transition: 0.4s;
    font-size: 18px;
}

.mainks .shop-sidebar .menusp a:hover {
    color: #9bccd5;
    text-decoration: none;
}

.mainks .shop-sidebar .as2 input.btn.btn-secondary {
    margin: 20px;
    width: 70px;
    border-radius: 25px;
}

.mainks {
    padding-top: 20px;
    background: #2196f312;
    padding-bottom: 20px;
}

.mainks .shop-sidebar aside {
    margin-bottom: 45px;
    /* border-bottom: 1px solid #2196f361; */
}

/* .container {
    margin-top: 125px;
  } */

.slider-labels {
    margin-top: 10px;
}

/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */

.noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top .3s;
    transition: left 0.3s, top .3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */

.noUi-base, .noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
   */

.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #4CAF50;
}

/* Styling;
   */

.noUi-background {
    background: #D6D7D9;
}

.noUi-connect {
    background: #4CAF50;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 2px;
}

.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.ranger-price {
    /* margin-top: 40px; */
    width: 100%;
}

.ranger-price .container {
    /* width: 90%; */
    padding: 0;
}

.row.slider-labels {
    font-size: 13px;
}

@media(max-width:576px) {
    .ranger-price .container {
        width: 70%;
    }
    .ranger-price .container .col-sm-6.text-right.caption {
        text-align: center!important;
    }
}

.mainks .sanpham {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.khoisp {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    transition: 0.4s;
    overflow: hidden;
}

.khoisp .nen {
    border: 1px solid #dee9de;
    box-shadow: #b4b4a0 0 0 1px 0px;
    transition: 0.4s;
}

@media(max-width:576px) {
    .khoisp {
        width: 50%;
        padding: 5px;
    }
}

.khoisp .anh img {
    width: 100%;
}

.khoisp .chitiet {
    background: #FBFCFC;
    padding: 15px;
}

.khoisp p.text-muted.loaigiuong {
    font-size: 12px;
    margin-bottom: 0px;
}

.khoisp p.text-dark.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    transition: 0.4s;
}

.khoisp p.gia {
    font-weight: 600;
}

.khoisp span.text-primary.truoc {
    opacity: 0.3;
}

.khoisp p.gioithieu {
    text-align: justify;
    font-size: 14px;
    opacity: 0.8;
    color: black;
}

.khoisp:hover .nen {
    box-shadow: #b4b4a0 0 0 3px 0px;
}

.khoisp a:hover {
    text-decoration: none;
}

.khoisp p.text-dark.title:hover {
    color: #0086cd!important;
}

.btn_load.col-lg-12.text-center {
    margin-top: 50px;
    margin-bottom: 50px;
}

span.black_star {
    color: #00000070;
}

span.yellow_star {
    color: #FFC107;
}
